<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/9ED2992C-B848-4CA0-8D22-4B79DA62952A.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/9ED2992C-B848-4CA0-8D22-4B79DA62952A.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Modified</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
